<!DOCTYPE html>
<html>
    <head>
       <meta charset="UTF-8" >
       <title>About</title>
       <link rel="stylesheet" href="cssabout.css">
       <style>
       /* Descrição da pagina
       } */
       </style>
       </head>
        <body style="color:rgb(7, 69, 110)">
            <header>
                <div class="logo-content">
                <img src="imagem/logo.png" alt="logo do nosso site" width="50"> 
                <h1>Landseeker</h1>
                </div>
                <div class="listas">
                <ul>
                    <li><a href="PrimeiraPagina.html" target="_blank">Home</a></li>
                    <li><a href="About.html" target="_blank">About</a></li>
                    <li><a href="contato.html" target="_blank">Contact</a></li>

                </ul>
               </div>
                    </header>

        <section class="conteudo">
                <div class="sobre">
                        <h1>ABOUT</h1>
                </div>
             
                
                   
            <div class="universo">
                <video poster="imagem/andromeda_galaxy.jpg" class="video-universo" controls>
                    <source src="Video/y2mate.com - imagens_do_universo_captadas_pela_eso_7s5sQy5yOI4_360p.mp4">
                </video>
            

            
                <article>
                    <h2> Our Story </h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, ullam? 
                    Cupiditate accusamus animi illum ipsam placeat, dicta sequi earum tempora 
                    necessitatibus consequatur iusto, sunt sed ratione exercitationem totam delectus 
                    reiciendis!Facilis vel quo totam iure aut. Praesentium ut vero, consequatur 
                    laudantium voluptates animi soluta quod, dolores tenetur unde, officiis aliquid magni 
                    voluptatum fugit! Ad unde consequuntur amet, quo vitae et?Lorem ipsum dolor sit amet, 
                    consectetur adipisicing elit. Consequuntur, ullam? Cupiditate accusamus animi illum ipsam 
                    placeat, dicta sequi earum tempora necessitatibus consequatur iusto, sunt sed ratione 
                    exercitationem totam delectus reiciendis!Facilis vel quo totam iure aut. Praesentium ut vero, 
                    consequatur laudantium voluptates animi soluta quod, dolores tenetur unde, officiis aliquid 
                    magni voluptatum fugit! Ad unde consequuntur amet, quo vitae et?Lorem ipsum dolor sit amet, 
                    consectetur adipisicing elit. ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur.
                    </p>
                </article>
            </div>

        </section>

                <section class="audio-content">
                    <audio controls >
                        <source src="audio/pearljam.mp3" type="audio/mp3">
                    </audio>
                </section>

                <footer>
                    Este documento é de propriedade de Caique Souza.
                </footer>
                
        </body>
    </html>