<!DOCTYPE html>
<html>
    <head>
       <meta charset="UTF-8" >
       <title>Contato</title>
       <link rel="stylesheet" href="contato.css">
    </head>

        <body>
                <header>
                    <div class="logo-content">
                    <img src="imagem/logo.png" alt="logo do nosso site" width="50"> 
                    <h1>Landseeker</h1>
                    </div>
                    <div class="listas">
                    <ul>
                        <li><a href="PrimeiraPagina.html" target="_blank">Home</a></li>
                        <li><a href="About.html" target="_blank">About</a></li>
                        <li><a href="contato.html" target="_blank">Contact</a></li>

                    </ul>
                   </div>
                </header>
               

                <section class="contato-section">

                    <div class="contato-titulo">
                        <h1>Me Contate!</h1>
                    </div>   
                    
                    <div class="contact-content">
                    <form>
                        <label>Nome</label>
                        <br>
                        <input type="text" name="inputNomeCompleto">
                        <br>
                        <label>Email</label>
                        <br>
                        <input type="email" name="Email">
                        <br>
                            <!-- <select>
                                <option value="" selected disabled>Selecione o sexo</option>
                                <option value="M">Masculino</option>
                                <option value="F">Feminino</option>
                                <option value="X">Outros</option>
                            </select> -->
                            <br>
                        <label>Mensagem</label>
                        <br>
                        <textarea id="txt" name="mensagem" rows="8" cols="80"></textarea>
                        <br>

                        <!-- <label>checkbox</label>
                        <input type="checkbox" name="postNome" value="Não pode meu nome">
                        <br> -->
                    <div class="informacoes">
                        <input type="radio" value="Não" name="informações">
                        <label for="">Não Mostre Meu nome</label> 
                        <button id="Enviar" type="submit">Enviar</button>   
                    </div>
            
                        
                        <!-- <button type="reset">Resetar</button> -->
                    </form>
                    </div>

                </section>

                <footer>
                   <p>Propriedade do Caique</p>
                </footer>
        </body>
    

</html>

<!-- By Caique Souza
"E quando quiser desistir, continue!" -->