<!DOCTYPE html>
<html>
    <head>
       <meta charset="UTF-8" >
       <meta name="viewport" content="width= device-width, initial scale 1">
       <title>Home</title>
       <link rel="stylesheet" href="style.css">
       <style>
       /* p{
           color: red;
       } */
       </style>
    </head>
        <body style="color:black">
            <header>
                <div class="logo-content">
                <img src="imagem/logo.png" alt="logo do nosso site" width="50"> 
                <h1>Landseeker</h1>
                </div>
                <div class="listas">
                <ul>
                    <li><a href="PrimeiraPagina.html" target="_blank">Home</a></li>
                    <li><a href="About.html" target="_blank">About</a></li>
                    <li><a href="contato.html" target="_blank">Contact</a></li>

                </ul>
               </div>
                    </header>
            <section class="home-content">
                <div class="banner">
                        <h1>The Most Beautifuls Landscapes</h1>
                        <p>NEW ORLEANS FOREST</p>
                        <button id="check">CHECK IT OUT</button>
                
                        
                </div>
                     
            </section>
            

            <section class="products-content">
                    <div class="box"> <img class="fotos" src="imagem/orleans1.png" alt="foto 1">
                    <button class="botao">Veja Mais</button></div>
                    <div class="box" > <img class="fotos" src="imagem/orleans2.jpg" alt="foto 2">
                    <button class="botao">Veja Mais</button></div>
                    <div class="box" > <img class="fotos" src="imagem/orleans3.jpg" alt="foto 3">
                    <button class="botao">Veja Mais</button></div>
                    <div class="box"> <img class="fotos" src="imagem/orleans4.jpg" alt="foto 4">
                    <button class="botao">Veja Mais</button> </div>
                    <div class="box"> <img class="fotos" src="imagem/orleans5.jpg" alt="foto 5">
                    <button class="botao">Veja Mais</button></div>
                    <div class="box"> <img class="fotos" src="imagem/orleans6.jpg" alt="foto 6">
                    <button class="botao">Veja Mais</button></div>
                    
                
                
            </section>

            <footer>
                Este documento é de propriedade de Caique Souza.
            </footer>
        </body>
    
    </html>