*{
    font-family: arial;
    margin: 0;
    padding: 0;
    color: black;
    }

    header{
        background-color: #fff;
        color: black;
        width: 100%;
        height: 60px;
        top: 0;
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
        position: fixed;
        box-shadow: 0 0 8px #676565;
        z-index: 2;
    }

    div.logo-content{
        width: 45%;
        display: flex;
        font-size: 70%;
        align-items: center;
        justify-content: flex-start;
    }
    
    div.listas ul{
        width: 300px;
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        padding-right: 30px;
        list-style-type: none;
    }

    header a{
        color: black;
        text-decoration: none;
    }
    
    a:link{
        text-decoration: none;
    }

    section.home-content{
        width: 100%;
        height: 100vh;
        margin-bottom: 5%;
    }

    div.banner{
        width: 100%;
        height: 100%;
        background-image: url(imagem/banner.jpg);
        background-size: cover;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: flex-end;
        background-position: center;

    }

    .home-content .banner h1{
        color: white;
        text-transform: capitalize;
        font-weight: lighter;
        font-size: 1em;
    }

    .home-content .banner p{
        color: white;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        font-size: 2em;
        margin-top: 1%;
    }

    .home-content .banner button{
        background-color: #fff;
        color: black;
        border: none;
        border-radius: 50px;
        padding: 15px 35px;
        font-size: 1em;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 2%;
        margin-bottom: 7%;
    }

    section.products-content{
        background-color: white;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 2px m0;
        margin-bottom: 5%;
    }

    .products-content .box {
        margin: 1%;
        max-width: 375px;
        height: 250px;
    }

    .products-content .box .botao{
        background-color: white;
        color: black;
        border: none;
        padding: 10px 30px;
        font-size: 1em;
        font-weight: 400;
        text-transform: uppercase;
        position: relative;
        bottom: 25%;
        left: 30%;
    }

    .products-content .box .fotos{
        height: 100%;
    }

footer{
    width: 100%;
    height: 10vh;
    background-color: blueviolet;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media (min-width: 540px) {

}
