

header{
    padding: 0%;
    margin-bottom: 20px;
    background-color: lightblue;
}

body{

    background-color: lightblue;
}

section.conteudo{
    position: relative;
    background-color:white;
    width: 50%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;

}

img{
    width: 20%;
    height: 20vh;
    border-radius: 300px;
    object-fit: cover;
    padding: 2%;
}

article {
    width: 70%;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-top: 5%;

}

h2 {
    text-align: left;
    font-size: 1em;
}

p{
    text-align: justify;
    margin-top: 2%;
}

.conteudo .perfil{
    height: 50vh;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid black;

}